[package]
name = "compiler-llvm-builder"
version = "1.0.0"
authors = [
    "Alex Zarudnyy <a.zarudnyy@matterlabs.dev>",
]
license = "Apache-2.0"
edition = "2021"
description = "The builder of the zkEVM fork of the LLVM framework"
repository = "https://github.com/matter-labs/compiler-llvm-builder"

[[bin]]
name = "zkevm-llvm"
path = "src/zkevm_llvm/main.rs"

[lib]
doctest = false

[dependencies]
structopt = { version = "0.3", default-features = false }
anyhow = "1.0"

serde = { version = "1.0", features = [ "derive" ] }
toml = "0.5"
num_cpus = "1.14"
fs_extra = "1.2"
path-slash = "0.2"
